.container {
  background-color: #323233;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.main {
  border-radius: 28px;
  height: 77vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 400px;
  box-shadow: 0 12px 56px rgb(119 118 122 / 15%);
  position: relative;
  top: 48px;

  box-sizing: content-box;
}

.createAccount {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 4.5vh;
}

.title {
  margin: 5vh 0 0;
  line-height: 1.15;
  font-size: 34px;
}

.walletCreated {
  margin-top: 1vh;
}

.walletCreated a {
  color: #FC8181;
  text-decoration: none;
}

.walletCreated a:hover {
  color: #fb4f4f;
  text-decoration: underline;
}

.airdrop {
  animation: fadeIn 2s;
  width: 300px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.airdrop .chooseReward {
  margin: 5vh 0 1.75vh;
}

.airdrop button {
  align-items: center;
  background-color: #323233;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  color: white;
  display: flex;
  height: 36px;
  justify-content: space-between;
  margin-top: 1.5vh;
  padding: 0 15px;
  text-align: left;
  width: 100%;
}

.airdrop button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.airdrop button > div {
  display: flex;
}

.airdrop button > div > p {
  margin-left: 10px;
  margin-top: 1px;
}

.airdrop button > p {
  margin-top: 1px;
}

.useFunds {
  font-size: 0.9rem;
  margin-top: 2vh;
}

/*
-----------------------------------
*/

.displayAssets {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 4.5vh;
}

.displayAssets .back {
  background: none;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  left: 30px;
  padding: 5px 10px;
  position: absolute;
  top: 20px;
}

.displayAssets h2 {
  margin: 3vh 0 0;
  font-size: 34px;
}

.displayAssets h1 {
  margin-top: 3vh;
  margin-right: 9px;
  font-size: 45px;
  margin-bottom: 3vh;
}

.displayAssets .token {
  border-width: 1px;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  width: 284px;
}

.displayAssets .token > div {
  display: flex;
}

.displayAssets .token > div > p {
  margin-left: 10px;
  margin-top: 1px;
}

.displayAssets .buy {
  background-color: #323233;
  border-color: #81fc81;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  color: #81fc81;
  font-size: 0.9rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 8px 0;
  width: 250px;
}

.displayAssets .buy:hover {
  background-color: #81fc81;
  color: black;
  cursor: pointer;
}

.displayAssets .nfts {
  align-items: center;
  background-color: #323233;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  color: white;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin-top: 2vh;
  padding: 8px 16px;
  width: 250px;  
}

.displayAssets .nfts:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/*
-----------------------------------
*/

.creatorView {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 4.5vh;
}

.creatorView .back {
  background: none;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  left: 30px;
  padding: 5px 10px;
  position: absolute;
  top: 20px;
}

.creatorView h2 {
  margin: 3vh 0 0;
  font-size: 34px;
}

.creatorView .creatorInfo {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
}

.creatorView .creatorInfo button {
  background-color: #323233;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  font-size: 0.9rem;
  padding: 8px 0;
  width: 250px;
}

.creatorView .creatorInfo .createAccount {
  border-color: #81fcbf;
  color: #81fcbf;
  margin-top: 3vh;
}

.creatorView .creatorInfo .createAccount:hover {
  background-color: #81fcbf;
  color: black;
  cursor: pointer;
}

.creatorView .creatorInfo .viewAccount {
  border-color: white;
  color: white;
  margin-top: 2vh;
}

.creatorView .creatorInfo .viewAccount:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/*.creatorView .creatorInfo .emptyFrame {
  align-items: center;
  border-style: dashed;
  display: flex;
  height: 240px;
  justify-content: center;
  margin-bottom: 1vh;
}

.creatorView .creatorInfo .frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
}

.viewNFTs .posts .frame .description {
  border-width: 1px;
  display: flex;
  font-size: 0.7rem;
  justify-content: space-between;
  margin-top: 2px;
  padding: 5px 10px;
  width: 220px;
}

.viewNFTs .posts button {
  background-color: #323233;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  font-size: 0.9rem;
  margin-top: 2vh;
  padding: 8px 0;
  width: 250px;
}

.viewNFTs .posts .mint {
  border-color: #81fcbf;
  color: #81fcbf;
}

.viewNFTs .posts .mint:hover {
  background-color: #81fcbf;
  color: black;
  cursor: pointer;
}

.viewNFTs .posts .browse {
  border-color: white;
  color: white;
}

.viewNFTs .posts .browse:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}*/